mat-form-field{
    width:100%;
}

.close.mat-button {
    min-width: auto;
  }

  .savebtn {
      background-color: lightskyblue;
  }

  ::ng-deep .mat-snack-bar-container{
    background-color: rgb(29, 146, 107);
}

::ng-deep .mat-simple-snackbar{
    color:#ffffff;
}

